In [77]:
import pandas as pd
import ast
import json

In [78]:
data = pd.read_parquet('/home/minh/hackathon/mlops/src/model_predictor/data/captured_data/phase-1/prob-1/123.parquet')

In [79]:
data.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,feature14,feature15,feature16
0,113,9,63.17,44420,43.080594,-82.530124,15429,40.282905,-80.067555,24.265892,20,0,5,0.899255,1.268010,72.877529
1,-1,5,6.70,84015,40.951731,-112.891381,62494,40.565544,-112.367142,19.104705,23,5,7,0.751891,1.391667,76.898485

In [131]:
from tqdm import tqdm

def build_category_features(data, categorical_cols=None):
    if categorical_cols is None:
        categorical_cols = []
    category_index = {}
    if len(categorical_cols) == 0:
        return data, category_index

    df = data.copy()
    # process category features
    for col in categorical_cols:
        df[col] = df[col].astype("category")
        category_index[col] = df[col].cat.categories
        df[col] = df[col].cat.codes
    return df, category_index

def from_log_data_to_dataframe(path) -> pd.DataFrame:
    df = []
    with open(path) as f:
        data = f.readlines()
    for sample in tqdm(data):
        sample = json.loads(sample)
        input_feature = sample['rows']
        df.extend(input_feature)
    df = pd.DataFrame(df)
    mapper = {}
    for i in range(len(capture_data_prob1.columns)):
        mapper[i] = 'feature'+str(i+1)
    df = df.rename(columns=mapper)
    
    return df

In [132]:
capture_data_prob1 = from_log_data_to_dataframe('log/model_1.log')

100%|███████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 162.64it/s]

In [144]:
capture_data_prob1.to_parquet('src/model_predictor/data/captured_data/phase-1/prob-1/submit.parquet')

In [146]:
capture_data_prob1 = pd.read_parquet('src/model_predictor/data/captured_data/phase-1/prob-1/submit.parquet')

In [126]:
capture_data_prob1, _ = build_category_features(
            capture_data_prob1, ["feature1","feature2"]
        )

In [147]:
capture_data_prob1.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,feature14,feature15,feature16,feature17,feature18
0,348,7,4.38,92563,35.939544,-114.046397,115971,33.314470,-117.984130,25.354260,20,5,8,0.983294,1.772663,75.253987,1,3
1,176,1,75.42,37341,35.036652,-82.771634,12085,34.547373,-85.836509,24.135630,21,6,7,1.093364,1.238451,68.735671,1,3
2,302,1,20.22,90603,36.230335,-114.540103,189948,34.292860,-118.593890,24.670547,15,4,7,1.037823,1.425687,72.823235,1,3
3,72,7,8.92,63366,40.839753,-91.874027,89535,38.292949,-90.876895,22.706168,16,6,8,0.742700,1.591086,82.043799,1,3
4,205,13,2.72,60402,38.566359,-82.722430,63448,42.824540,-87.320203,20.620653,23,3,6,1.045041,1.558244,74.587602,1,3

In [149]:
SELECT_COLS = []
for i in range(0,16):
    SELECT_COLS.append("feature"+str(i+1))
capture_data_prob1 = capture_data_prob1[SELECT_COLS]
capture_data_prob1.to_parquet('src/model_predictor/data/captured_data/phase-1/prob-1/submit.parquet')

In [151]:
capture_data_prob1.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,feature14,feature15,feature16
0,348,7,4.38,92563,35.939544,-114.046397,115971,33.314470,-117.984130,25.354260,20,5,8,0.983294,1.772663,75.253987
1,176,1,75.42,37341,35.036652,-82.771634,12085,34.547373,-85.836509,24.135630,21,6,7,1.093364,1.238451,68.735671
2,302,1,20.22,90603,36.230335,-114.540103,189948,34.292860,-118.593890,24.670547,15,4,7,1.037823,1.425687,72.823235
3,72,7,8.92,63366,40.839753,-91.874027,89535,38.292949,-90.876895,22.706168,16,6,8,0.742700,1.591086,82.043799
4,205,13,2.72,60402,38.566359,-82.722430,63448,42.824540,-87.320203,20.620653,23,3,6,1.045041,1.558244,74.587602